body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color:  rgb(190, 179, 23);
}
.quem-somos{
    background-color: rgb(226, 219, 219);
    
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: rgb(104, 112, 116);
    

}
.bg-footer{
    background-color: black;
    color: white;
}